<table class="table table-fixed">
  <thead>
    <tr>
      <th class="w-1/4">Domain</th>
      <th class="w-5/12">DNS Type / Value</th>
      <th class="w-1/6">DNS Status</th>
      <th class="w-1/12"></th>
    </tr>
  </thead>
  <tbody>
    <% service.domains.each do |domain| %>
      <tr id="<%= dom_id(domain) %>">
        <td>
          <%= link_to domain.domain_name, "https://#{domain.domain_name}", target: "_blank" %>
          <% if domain.auto_managed? %>
            <div class="tooltip tooltip-right inline-block ml-2" data-tip="Automatically managed by Canine">
              <span class="badge badge-sm badge-info">Auto</span>
            </div>
          <% end %>
        </td>
        <td class="overflow-hidden">
          <%= render(
            "shared/partials/async_renderer",
            view_model: Async::K8::ClusterIpViewModel.new(
              current_user,
              service_id: service.id
            )
          ) %>
        </td>
        <td>
          <%= render "projects/services/domains/status", domain: %>
        </td>
        <td>
          <%= link_to "Remove",
              project_service_domain_path(
                service.project,
                service,
                domain
              ),
              method: :delete,
              class: "btn btn-sm btn-ghost"
            %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
