<% ingress_controller = K8::Stateless::Ingress.new(service).ingress_class_name.capitalize %>
<table class="table table-fixed">
  <thead>
    <tr>
      <th class="w-1/5">Domain</th>
      <th class="w-1/6">Controller</th>
      <th class="w-1/3">DNS Type / Value</th>
      <th class="w-1/6">DNS Status</th>
      <th class="w-1/12"></th>
    </tr>
  </thead>
  <tbody>
    <% service.domains.each do |domain| %>
      <tr id="<%= dom_id(domain) %>">
        <td>
          <div class="flex items-center gap-1.5">
            <span class="cursor-pointer" data-controller="clipboard" data-clipboard-text="<%= domain.domain_name %>"><%= domain.domain_name %></span>
            <%= link_to "https://#{domain.domain_name}", target: "_blank" do %>
              <iconify-icon icon="lucide:external-link" class="text-xs"></iconify-icon>
            <% end %>
            <% if domain.auto_managed? %>
              <div class="tooltip tooltip-right inline-block" data-tip="Automatically managed by Canine">
                <span class="badge badge-sm badge-info">Auto</span>
              </div>
            <% end %>
          </div>
        </td>
        <td>
          <div class="flex items-center gap-1.5">
            <iconify-icon icon="<%= ingress_controller == "Traefik" ? "simple-icons:traefikproxy" : "simple-icons:nginx" %>" width="16" height="16"></iconify-icon>
            <span><%= ingress_controller %></span>
          </div>
        </td>
        <td class="overflow-hidden">
          <%= render(
            "shared/partials/async_renderer",
            view_model: Async::K8::ClusterIpViewModel.new(
              current_user,
              service_id: service.id
            )
          ) %>
        </td>
        <td>
          <%= render "projects/services/domains/status", domain: %>
        </td>
        <td>
          <%= link_to "Remove",
              project_service_domain_path(
                service.project,
                service,
                domain
              ),
              method: :delete,
              class: "btn btn-sm btn-ghost"
            %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
